<html>
<h1>Login</h1>
<form action="auth/login" method="post">
uname:<input type="text" name="username"><br>
password:<input type="password" name="password"><br>

<input type="submit" value="login">
</form>
</html>
