<html>
<h1>Sign-up</h1>
<form action="auth/signup" method="post">
	
uname:<input type="text" name="username"><br>
password:<input type="password" name="password"><br>

<input type="submit" value="signup">
</form>
</html>
