<h1>{{title}}</h1>
<h2>{{message}}</h2>

<form method="POST" action="/" enctype="mutipart/form-data">


student Name: <input type="text" name="nm" ><br>




Marks: <input type="text" name="ms" ><br><br>



Gender: <input type="gender" name="gn"><br>






<button type="submit" id="sub">Sign-Up</button> 

</form>